.container{
    margin-bottom: 100px;
}
.navbar{
  
}
.color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px ;
}
.rate{
    color: #ff136f;
}
.buy-naw{
    background-image: linear-gradient(to bottom,#ff5898 0%,#ff136f 100%);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    cursor: pointer;

}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-1{
    background-color: #ff5898;
}
.cat-2{
    background-color: brown;
}
.cat-3{
    background-color: blue;
}
.jamal{
    color: #ffff;
}

.tompa img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.backpack{
    margin-top: 100px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.subscribe{
    background-color: #fceae8;
}
#subscribe{
    height: 300px;
}
.container h6{
    color: #8f8887;
}
footer{
    text-align: center;
}